@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main{
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
}
.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(8, 8, 8);
}
.animation{
  position: relative;
  width: 48%;
  margin-top: 100px;
  margin-left: -15vw;
  z-index: 0;
}
.watermark-cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 7vw; /* Adjust size as needed */
  height: 7vw; /* Adjust size as needed */
  background-color: #080808; /* or any color that matches the background */
}

.content{
  max-width: 700px;
  min-width: 40%;
  width: auto;
  padding-left: 10vw;
  font-size: 17px;
  z-index: 1;
}
.title{
  font-size: 40px;
  font-size: 3vw;
  line-height: 45px;
  line-height: 3.5vw;
  margin-bottom: 10px;
}
.desc{
  width: 85%;
  font-size: 17px;
  font-size: 1.2vw;
  /* white-space: nowrap; */
  font-style: italic;
  color: #c7cac7;
}
 
button {
  background: linear-gradient(90deg, #AAD9D1, #017373);
  border: none;
  margin-top: 30px;
  margin-top: 1.5vw;
    font-family: sans-serif;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 11px;
    font-size: 0.8vw;
  transition: background 0.7s ease;
}

button:hover {
  background: linear-gradient(90deg, #017373, #AAD9D1);
  transition: background 0.7s ease;
}
.gradient-text {
  font-size: 40px; /* Adjust as needed */
  font-size: 3vw;
  font-weight: bold; /* Optional: adjust font weight */
  background: linear-gradient(90deg, #AAD9D1, #017373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.clients{
  margin-top: 100px;
  height: 60vh;
}

.clients h1{
  text-align: center;
  font-size: 20px;

  font-style: italic;
  color: #c7cac7;
}
.clients ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 80px;
  width: 60%;
  max-width: 100%;
  min-width: 800px;
  margin: 100px auto;
  padding: 0;
}
.clients img{
  height: 40px;
}
 
img[alt="jeko"]{
  height: 80px;
  filter: invert(1);
}
img[alt="1mrobotics"]{
  height: 55px;
}


@media only screen and (max-width: 720px) {
  html{
    font-size: 50px;
  }
  .cover{
   flex-direction: column;
  }
  .content{
  
    width: 100%;
    width: auto;
    padding-left: 0;
    font-size: 17px;
    z-index: 1;
  }
  .animation{
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-left:0;
    z-index: 0;
  }
}