@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
}
.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5vw 10vw;
  box-sizing: border-box;
}
.animation {
  position: relative;
  width: 50%;
  z-index: 0;
  overflow-y: hidden;
}
.animation svg{
  margin-bottom: -5vw;
}
.content {
  width: 50%;
  z-index: 1;
}
.title {
  font-size: 40px;
  font-size: 3vw;
  line-height: 45px;
  line-height: 3.5vw;
  margin-bottom: 10px;
}
.desc {
  width: 85%;
  font-size: 1.1vw;
  line-height: 1.6vw;
  font-style: italic;
  color: #c7cac7;
}

button {
  background: linear-gradient(90deg, #3c5b56, #017373);
  border: none;
  color: #fff;
  margin-top: 30px;
  margin-top: 1.5vw;
  font-family: "DM Sans";
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 11px;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: background-color 0.7s ease;
}
button:hover {
  background: linear-gradient(90deg, #1c544b, #1d6969);
  transition: background-color 0.7s ease;
}
.gradient-text {
  font-size: 40px; /* Adjust as needed */
  font-size: 3vw;
  font-weight: bold; /* Optional: adjust font weight */
  background: linear-gradient(90deg, #aad9d1, #017373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.clients {
  margin-top: 100px;
  height: 60vh;
}

.clients h1 {
  text-align: center;
  font-size: 20px;

  font-style: italic;
  color: #c7cac7;
}
.clients ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 80px;
  width: 60%;
  max-width: 100%;
  min-width: 800px;
  margin: 100px auto;
  padding: 0;
}
.clients img {
  height: 40px;
}

img[alt="jeko"] {
  height: 80px;
  filter: invert(1);
}
img[alt="1mrobotics"] {
  height: 55px;
}

@media only screen and (max-width: 720px) {
  .cover {
    flex-direction: column;
    padding: 5vh 2vw;
  }
  
  .content {
    width: 90%;
    margin: 0 auto;
    z-index: 1;
  }
  .title, .gradient-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
  .desc {
    width: 100%;
    font-size: 4.2vw;
    line-height: 5.6vw;
    font-style: italic;
    color: #c7cac7;
  }
  button {
    margin-top: 1.5vw;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
  
  .animation {
    position: relative;
    width: 100%;
    margin-top: 50px;
    z-index: 0;
  }
  .animation  svg{
    margin-bottom: -5vh;
  }
}
